<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>카테고리 추가</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
  <h1>카테고리 추가</h1>

  <!-- CSRF 토큰 추가 -->
  <form action="/category/create" method="post" th:action="@{/category/create}">
    <input type="text" name="name" placeholder="새 카테고리 이름" required>
    <button type="submit" class="btn btn-primary">카테고리 추가</button>

    <!-- CSRF 토큰 -->
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
  </form>

  <div>
    <a href="/category/list" class="btn btn-secondary">카테고리 목록 보기</a>
  </div>
</div>
</body>
</html>