<html layout:decorate="~{layout}">
<head>
    <!-- SimpleMDE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.0/simplemde.min.css">

    <!-- SimpleMDE JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.0/simplemde.min.js"></script>
</head>
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>

    <!-- 카테고리 표시 -->
    <div th:if="${question.category != null}" class="badge bg-info text-dark mb-3">
        <span th:text="${question.category.name}"></span>
    </div>

    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/question/vote/${question.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                </a>
                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>

    <!-- 답변 리스트 -->
    <div class="container my-3" id="answers-section">
        <!-- 답변의 갯수 표시 -->
        <h5 class="border-bottom my-3 py-2">
            <span th:text="|${answerPaging.totalElements}개의 답변이 있습니다.|"></span>
            <!-- 답변 정렬 버튼 -->
            <div class="btn-group" role="group" aria-label="Sort Answers" id="answers-sort-buttons">
                <a href="#" class="btn btn-outline-secondary"
                   th:href="@{|/question/detail/${question.id}?page=0&sortBy=latest#answers-section|}"
                   th:classappend="${sortBy == 'latest' ? 'active' : ''}">최신순</a>
                <a href="#" class="btn btn-outline-secondary"
                   th:href="@{|/question/detail/${question.id}?page=0&sortBy=recommend#answers-section|}"
                   th:classappend="${sortBy == 'recommend' ? 'active' : ''}">추천순</a>
            </div>
        </h5>

        <!-- 답변 반복 시작 -->
        <div class="card my-3" th:each="answer : ${answerPaging.content}">
            <a th:id="|answer_${answer.id}|"></a>
            <div class="card-body">
                <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
                <div class="d-flex justify-content-end">
                    <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">modified at</div>
                        <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                        </div>
                        <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <div class="my-3">
                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                       th:data-uri="@{|/answer/vote/${answer.id}|}">
                        추천
                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                    </a>
                    <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                       th:text="수정"></a>
                    <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>
        <!-- 답변 반복 끝 -->

        <!-- 답변 페이징 처리 -->
        <div th:if="${answerPaging.totalPages > 1}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!answerPaging.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{|/question/detail/${question.id}?page=${answerPaging.number - 1}&sortBy=${sortBy}#answers-sort-buttons|}">
                        이전
                    </a>
                </li>
                <li th:each="page : ${#numbers.sequence(0, answerPaging.totalPages - 1)}"
                    th:classappend="${page == answerPaging.number} ? 'active'" class="page-item">
                    <a class="page-link" th:href="@{|/question/detail/${question.id}?page=${page}&sortBy=${sortBy}#answers-sort-buttons|}" th:text="${page + 1}"></a>
                </li>
                <li class="page-item" th:classappend="${!answerPaging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|/question/detail/${question.id}?page=${answerPaging.number + 1}&sortBy=${sortBy}#answers-sort-buttons|}">
                        다음
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 답변 작성 -->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
        <!-- 답변 내용 입력 (마크다운을 SimpleMDE로 편집할 수 있도록 적용) -->
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="5"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" placeholder="답변을 입력하세요" class="form-control" rows="5" id="answerContent"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>

    <!-- 댓글 목록 -->
    <div class="my-3" id="comments-section">
        <h5 class="border-bottom my-3 py-2">
            <span th:text="|${commentPaging.totalElements}개의 댓글이 있습니다.|"></span>
            <!-- 댓글 정렬 버튼 -->
            <div class="btn-group" role="group" aria-label="Sort Comments" id="comments-sort-buttons">
                <a href="#" class="btn btn-outline-secondary"
                   th:href="@{|/question/detail/${question.id}?page=0&sortBy=latest#comments-section|}"
                   th:classappend="${sortBy == 'latest' ? 'active' : ''}">최신순</a>
                <a href="#" class="btn btn-outline-secondary"
                   th:href="@{|/question/detail/${question.id}?page=0&sortBy=recommend#comments-section|}"
                   th:classappend="${sortBy == 'recommend' ? 'active' : ''}">추천순</a>
            </div>
        </h5>

        <!-- 댓글 반복 시작 -->
        <div class="card my-3" th:each="comment : ${commentPaging.content}">
            <a th:id="|comment_${comment.id}|"></a>
            <div class="card-body">
                <div class="card-text" th:utext="${@commonUtil.markdown(comment.content)}"></div>
                <div class="d-flex justify-content-end">
                    <div th:if="${comment.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">modified at</div>
                        <div th:text="${#temporals.format(comment.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${comment.author != null}" th:text="${comment.author.username}"></span>
                        </div>
                        <div th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <div class="my-3">
                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                       th:data-uri="@{|/comment/vote/${comment.id}|}">
                        추천
                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(comment.voter)}"></span>
                    </a>
                    <a th:href="@{|/comment/modify/${comment.id}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
                       th:text="수정"></a>
                    <a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${comment.id}|}"
                       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                       th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>
        <!-- 댓글 반복 끝 -->

        <!-- 댓글 페이징 처리 -->
        <div th:if="${commentPaging.totalPages > 1}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!commentPaging.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{|/question/detail/${question.id}?page=${commentPaging.number - 1}&sortBy=${sortBy}#comments-sort-buttons|}">
                        이전
                    </a>
                </li>
                <li th:each="page : ${#numbers.sequence(0, commentPaging.totalPages - 1)}"
                    th:classappend="${page == commentPaging.number} ? 'active'" class="page-item">
                    <a class="page-link" th:href="@{|/question/detail/${question.id}?page=${page}&sortBy=${sortBy}#comments-sort-buttons|}" th:text="${page + 1}"></a>
                </li>
                <li class="page-item" th:classappend="${!commentPaging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|/question/detail/${question.id}?page=${commentPaging.number + 1}&sortBy=${sortBy}#comments-sort-buttons|}">
                        다음
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 댓글 작성 -->
    <form th:action="@{/comment/create/question/{id}(id=${question.id})}" method="post" th:object="${commentForm}" class="my-3">
        <!-- 댓글 내용 입력 (마크다운을 SimpleMDE로 편집할 수 있도록 적용) -->
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="5"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" placeholder="댓글을 입력하세요" class="form-control" rows="5" id="commentContent"></textarea>
        <input type="submit" value="댓글 작성" class="btn btn-primary mt-2">
    </form>
</div>
<script layout:fragment="script" type="text/javascript">
    // 삭제 버튼 처리
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    // 추천 버튼 처리
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if (confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    // 페이지 링크 처리
    const page_links = document.querySelectorAll(".page-link");
    page_links.forEach(link => {
        link.addEventListener("click", () => {
            const page = link.dataset.page;
            location.href = `?page=${page}`;
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
    const simplemdeComment = new SimpleMDE({
        element: document.getElementById("commentContent"),
        autosave: { enabled: true, uniqueId: "commentContent" },
        spellChecker: false,
        toolbar: [
            "bold",        // 굵은 글씨
            "italic",      // 기울임 글씨
            "heading",     // 제목
            "|",           // 구분선
            "unordered-list", // 리스트
            "ordered-list",   // 번호 리스트
            "|",
            "link",        // 링크
            "quote",       // 인용문
            "code",        // 코드 블록
            "|",
            "preview",     // 미리보기
            "side-by-side", // 양쪽 보기
            "fullscreen"   // 전체 화면
        ]
    });
});

    // SimpleMDE 적용
    document.addEventListener("DOMContentLoaded", function() {
        // SimpleMDE 적용 (댓글과 답변에 적용)
        const simplemdeComment = new SimpleMDE({
            element: document.getElementById("commentContent"),
            autosave: { enabled: true, uniqueId: "commentContent" },
            spellChecker: false,
            previewRender: function(plainText) {
                // SimpleMDE 기본 미리보기 렌더링
                return SimpleMDE.prototype.markdown(plainText);
            }
        });

        const simplemdeAnswer = new SimpleMDE({
            element: document.getElementById("answerContent"),
            autosave: { enabled: true, uniqueId: "answerContent" },
            spellChecker: false,
            previewRender: function(plainText) {
                // SimpleMDE 기본 미리보기 렌더링
                return SimpleMDE.prototype.markdown(plainText);
            }
        });

        // SimpleMDE 미리보기 활성화
        function enablePreview(simplemdeInstance) {
            const previewButton = simplemdeInstance.toolbarElements.preview;
            if (previewButton) {
                previewButton.click(); // 미리보기 활성화
            }
        }

        enablePreview(simplemdeComment);
        enablePreview(simplemdeAnswer);
    });
</script>
</html>